# Executables
*
!*.*
!*/
!.*
*.exe

# VSCode folder:
.vscode/

# Any/All Build folders (checked recursively):
**/build/

# Scripts:
*.sh
*.bat

# Include and library folders:
include/
libs/

# Generated GLSL files
gensh.h

# Ignored files
*_IGN.*
